<meta charset="UTF-8">
<div id="app">
    <div v-for="item of products">
        <p>Название товара: {{ item.title }}</p>
        <p>Стоимость товара: {{ item.price }}</p>
        <img width="200" :src="item.img" :alt="item.title"><br>
        <button @click="addProduct(item)">Купить</button>
    </div>
    <hr>
    <h1>Привет, {{ name }}!</h1>
    <a :href="link">Перейти в поисковик</a><br>
    <h2>{{ hello() }}</h2>
<!--    <button @click="counter++">ОК</button>-->
    <button @click="increase(forCounter)">ОК</button>
    <p>Счетчик: {{ counter }}</p>

<!--    <div v-show="show">-->
<!--        <h2 v-if="show">text is visible</h2>-->
<!--        <h2 v-else="show">text is not visible</h2>-->
<!--    </div>-->

    <p>{{ counter > 10 ? 'Больше 10' : 'Меньше либо равно 10' }}</p>

    <p @mousemove="getCoordinates(event)">Some long long text {{ x }} / {{ y }}
        <span @mousemove.stop>No move</span>
    </p>

    <input type="text" v-model="name"><br>
    <div v-html="completeEl"></div>

    <button @click="show=!show">Show</button>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script>
    const app = new Vue({
        el: '#app',
        data:{
            name:'Иван',
            link:'https://google.com',
            counter:0,
            forCounter:2,
            show:false,
            x:0,
            y:0,
            completeEl:'<a href="https://google.com">Перейти в Google</a>',
            products:[
                {
                    id:1,
                    title:'Audi',
                    price:1000,
                    img:'img/audi.jpg'
                },
                {
                    id:2,
                    title:'BMW',
                    price:1200,
                    img:'img/bmw.jpg'
                },
                {
                    id:3,
                    title:'VW',
                    price:900,
                    img:'img/vw.jpg'
                }
            ],
            cartGoods:[]
        },
        methods:{
            hello(){
                return `Добрый день, ${this.name}`;
            },
            increase(x){
                this.counter += x;
            },
            getCoordinates(e){
                this.x = e.clientX;
                this.y = e.clientY;
            },
            addProduct(item){
                let find = this.cartGoods.find(product=>product.id==item.id);
                if(find){
                    find.quantity++;
                }else{
                    let itemCart = Object.assign(item,{quantity:1});
                    this.cartGoods.push(itemCart);
                }
                console.log(this.cartGoods);
            }
        }
    });
</script>