{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="hero-white">
        <div class="header clearfix">
            {% include 'shop/menu.html' with active_products='active' %}
        </div>
    </div>

    <div class="details">
        <div class="links clearfix">
            <ul class="links-menu menu-products">
                <li><a href="#" class="active" data-category="all">все</a></li>
                <li><a href="#" data-category="chair">Стулья</a></li>
                <li><a href="#" data-category="lamp">Лампы</a></li>
                <li><a href="#" data-category="kitchen">Для кухни</a></li>
            </ul>
        </div>
        <div class="container">
            <div class="products height d-flex align-content-around justify-content-center flex-wrap">

            </div>
        </div>
    </div>

    <div class="clr"></div>
</div>
<script type="module" src="{% static 'shop/js/products/main_products.js' %}"></script>
{% endblock content %}